@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfrg.ttf) format('truetype');
}

:root,
html,
body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

/*

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}


a {
  text-decoration: none;
  color: #7c4dff;
}

a:hover {
  color: #3f1dcb;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

.subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.toolbar {
  display: flex;
  width: 100%;
  max-height: 128px;
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.005em;
  height: 64px;
  background-color: #fafafa;
}

@media (min-width: 900px) {
  .toolbar {
    flex-flow: row;
  }
}

.toolbar>.section__title {
  flex: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.toolbar>.section__action {
  flex: initial;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.toolbar--fixed {
  position: fixed;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.toolbar--border {
  border-bottom: 1.4px solid #CCCCCC;
}

button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  user-select: none;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.01em;
  line-height: 36px;
  margin: 14px 8px 8px 8px;
  min-width: 88px;
  outline: none;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

button:not([disabled]) {
  box-shadow: none;
  cursor: pointer;
}

button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
}

button.raised {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
}

button.raised:active {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#card {
  padding: 8px;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.6s ease;
}

@media (min-width: 960px) {
  #card {
    padding: 16px;
  }
}

#card:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.divider {
  border-bottom: 1px solid #151515;
  margin-bottom: 10px;
}

:root,
html,
body {
  background-color: #DDD;
}

#grid {
  height: 100%;
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 64px auto;
}

#header {
  grid-column-start: 1;
  grid-column-end: -1;
}

#board {
  background-color: inherit;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 2;
}

.content--page {
  background-color: #DDD;
  height: 100%;
}

page {
  display: flex;
  flex-flow: column wrap;
  background: white;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

page>header {
  flex: initial;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 1cm 1cm 0.4cm;
  padding: 10px;
}

page>section {
  flex: auto;
  margin: 0 1cm;
  padding: 10px;
}

page>footer {
  flex: initial;
  margin: 0.4cm 1cm 1cm;
  padding: 10px;
  border: 1px dashed #666666;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

.grid-table {
  margin-bottom: 16px;
  width: 100%;
  overflow-x: auto;
  z-index: 30;
}

.grid-table__layout {
  display: grid;
  grid-gap: 2px 2px;
  background-color: #666;
  width: 100%;
  grid-template-columns: 60px minmax(130px, 1fr) minmax(130px, 140px) repeat(auto-fit, minmax(60px, 70px));
  grid-auto-rows: auto;
}

.grid-table__header--style {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: #E0E0E0;
  margin-bottom: 2px;
}

.grid-table__status--style {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: white;
  padding: 0 20px;
}

.grid-table__status--style>img {
  margin-right: auto;
}

.src6 {
  background-color: #EEEEEE;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
